.albumGaleri{
    text-align: center;
    padding-bottom: 20px;
    &__title{
        padding: 20px 0;
        font-size: $title-size;
        color: $color-titulo-vistaprevia;
    }
    &__cards{
        display: flex;
        flex-flow: row wrap;
        width: 80%;
        margin: 0 auto;
        gap: 1px;
        &-card{
            width: 48%;
            margin-bottom: 20px;
            &-imgage{
                height: 150px;
                img{
                    border-radius: 10px;
                }
            }
            &-title{
                font-size: $title-size;
                color: $color-titulo-vistaprevia;
            }
            &-description{
                color: $color-texto-vistaprevia;
                a{
                    button{
                        background-color: $color-btn-alt;
                        border: 2px solid $color-btn-alt-border;
                        padding: 10px 15px;
                        border-color: none;
                        border-radius: 5px;
                        font-weight: 500;
                        color: white;
                        transition: all 1s;
                        &:hover{
                            background-color: $color-btn;
                            font-size: 20px;
                            color: $color-btn-alt-hover;
                            border-color: $color-btn-alt-border-hover;
                        }
                    }
                }
            }
        }
    }
}