/*Footer*/
.footer{
    background-color: $color-footer-vistaprevia;
    padding: 20px 0px;
    @include d-flex(column,none,center,0);
    &__left{
        color: $color-titulo-vistaprevia;
        font-size: 20px;
        width: 80%;
        border-bottom: 2px solid $border-vistaprevia;
        text-align: center;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    &__middle{
        padding: 10px 20px;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
    }
    &__right{
        @include d-flex(row,center,none,10px);
        width: 80%;
        padding-top: 10px;
        &-container{
            width: 20%;
            max-width: 50px;
            img{
                object-fit: scale-down;
            }
        }
    }
}