//*font
$font-barlow:'Barlow', sans-serif;
//*font size
$title-size: 20px;
$content-size:14px;
//*color font
$color-link: #3a3a3a;
//*color
$border-vistaprevia: #e4d1d1;
$color-header-vistaprevia: #6b4b70;
$color-footer-vistaprevia: #B0A4A4;
$color-card: #B0A4A4;
$color-card-video: #B0A4A4;
$color-intro-textFondo: #383a3038;
$color-description: #79617e;
$color-formBG: #bb4d4d;
$color-titulo-vistaprevia: #072b14;
$color-texto-vistaprevia: #e4f0e8;
$color-form:#265f3b;
$color-btn-alt:#265f3b;
$color-btn-alt-border: #bb4d4d;
$color-btn-alt-border-hover: #265f3b;
$color-btn-alt-hover: #bb4d4d;
$color-btn:#643A6B;
$color-btn-border:#B0A4A4;
$color-trasnparent:#682d2d00;
$bacground-input:#643A6B;
$border-input:#bb4d4d;
$color-input:#e4f0e8;
$bacground-input-hover:#bb4d4d;
$border-input-hover:#643A6B;
$color-input-hover:#0c2b08;
$bacground-btn-hover:#bb4d4d;
$border-btn-hover:#643A6B;
$color-btn-hover:#0c2b08;
$bacground-title:#823b91;
$border-title:#e4d1d1;
$color-title:#e4d1d1;