//*font
$font-barlow:'Barlow', sans-serif;
//*font size
$title-size: 20px;
$content-size:14px;
//*color font
$color-link: #3a3a3a;
//*color
$border-vistaprevia: #B0A4A4;
$color-header-vistaprevia: #6b4b70;
$color-footer-vistaprevia: #B0A4A4;
$color-card: #B0A4A4;
$color-card-video: #B0A4A4;
$color-intro-textFondo: #383a3038;
$color-description: #6b4b70;
$color-formBG: #bb4d4d;
$color-titulo-vistaprevia: #072b14;
$color-texto-vistaprevia: #e4f0e8;
$color-form:#265f3b;
$color-btn:#643A6B;
$color-btn-border:#B0A4A4;
$color-trasnparent:#682d2d00;